body {
    /*background-color: #403631 !important;*/
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
}
.imgStarWars{
    width: 9em;
}
.buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
}

.btn {
    background-color: #856342;
    opacity: 0.8;
    color: white;
    width: 7em;
    height: 3em;
    border: 1px #c68b83 solid !important;
    font-weight: bold !important;
}

.btn:hover {
    color: #fa9480 !important;
}

.containerImages {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    border: 1px #c68b83 solid !important;
    height: 38em;
    margin: 2em;
    color: white;
    flex-wrap: wrap;
    padding: 1em;
}

.divImage{
    width: 15em;
    height: 10em;
    background-color: antiquewhite;
    opacity: 0.7;
    margin: 1em;
    margin-left: 3em;
    text-align: center;
    color: #856342;
    font-weight: bold;
    border: 2px burlywood solid;
}

img{
    width: 5em;
}

.rowFlex{
    text-align: center;
}
.colorButton{
    background-color: #856342;
    opacity: 0.8;
    color: white;
    padding: 0.50em 1em;
}
.titleFilm, .episodioFilm, .directorFilm{
    text-align: center;
    opacity: 2em;
    color: white;
}
.titleFilm{
    margin-top: 2em;
}
.georgeImg{
    width: 70%;
    margin-left: 4em;
    margin-top: 2em;
}
.btnCharacter{
    margin-top: 3em;
    margin-left: 9em;
    background-color: #856342;
    color: white;
    padding: 0.50em 1em;
}

