body {
    /*background-color: #403631 !important;*/
    background-image: url(../images/fondo.jpg);
    width: 98%;
}
.imgStarWars{
    width: 9em;
}
.buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
}

.btn {
    background-color: #856342;
    opacity: 0.8;
    color: white;
    width: 7em;
    height: 3em;
    border: 1px #c68b83 solid !important;
    font-weight: bold !important;
}

.btn:hover {
    color: #fa9480 !important;
}

.containerImages {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    border: 1px #c68b83 solid !important;
    min-height: 38em;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.divImage {
   width: 14em;
   height: 12em;
   background-color: antiquewhite;
   opacity: 0.7;
   margin: 1em;
   text-align: center;
   color: #856342;
   font-weight: bold;
   border: 2px burlywood solid;
   display: flex;
   justify-content: center;
   flex-direction: column;
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   border: 2px solid #b58872;
}

img{
    width: 5em;
}

.rowFlex{
    text-align: center;
}
.colorButton{
    background-color: #856342;
    opacity: 0.8;
    color: white;
    padding: 0.50em 1em;
    text-align: center;
}
.titleFilm, .episodioFilm, .directorFilm{
    text-align: center;
    opacity: 2em;
    color: white;
}
.titleFilm{
    margin-top: 1.3em;
}
.georgeImg{
    width: 55%;
    margin-left: 20em;
    margin-top: 2em;
}
.btnCharacter{
    position: relative;
    top: 3em;
    left: 35em;
    background-color: #856342;
    color: white;
    padding: 0.50em 1em;
    display: block;
}
.filmsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

