@media (min-width: 501px) and (max-width: 800px) {
	[class*="col-"] {
		width: 100%;
	}

	.georgeImg{
    width: 85%;
    margin-left: 1em;

	}
	.btnCharacter{
    margin-left: 15em;   
	}

}
@media (min-width: 200px) and (max-width: 500px) {
	[class*="col-"] {
		width: 100%;
	}
	.containerImages{
	margin: 0.2em;
	position: relative;
	top: 1em;
	height: 100%;
	}
	.divImage{
	width: 8em;
    height: 6em;
	}
	img{
    width: 3em;
	}
	.namePerson{
	font-size: 0.80em;
	}
	.titleFilm{
    margin-top: 0.70em;
	}
	.georgeImg{
    width: 75%;
	margin-left: 3em;
	}
	.btnCharacter{
    margin-left: 7em;
    padding: 0.50em 1em;
	}
}